{% extends 'base.html.twig' %}

{% block title %}Liste des Agents{% endblock %}

{% block body %}

<div class="container">
 <h1>Liste des Agents</h1>
 <table class="table table-bordered table-striped">
        <thead>
        <tr>
        <th>Code</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Date de naissance</th>
        <th>Nationalite</th>
        <th>Specialite</th>
        <th>Actions</th>
        
        </tr>

            <tbody>
                {% for Agents in Agents %}

                <tr>
                    <th scope="row justify-content-center">
                   {{ Agents.codeidentification }}
                    </th>
                    <td>{{ Agents.nom }}</td>
                    <td>{{ Agents.prenom }}</td>
                    <td>{{Agents.datedenaissance|date('d/m/Y')}}</td>
                    <td>{{Agents.nationalite.nom}}</td>
 <td>
					{% for Specialite in Agents.specialite %}
						<li>{{Specialite.nom}}</li>
					{% endfor %}
				    </td>


                        <td>
                        




                        <a href="{{ path('app_agent_remove', {'id': Agents.id}) }}">Delete</a>
						<a href="{{ path('app_agent_edit', {'id': Agents.id}) }}">Modifier</a>
                        
                    </td>

			     </tr>
                
                {% endfor %}
                
            </tbody>
        </table>
         </div>
    <p> <a href="{{ path('app_agents_new') }}">New</a></p>

{% endblock %}
 









