{% extends 'base.html.twig' %}
{% block title %}Liste de Missions{% endblock %}

{% block body %}

        <table class="table">
        <thead>
        <tr>
        <th>Code</th>
        <th>Titre</th>
        <th>Description</th>
        </tr>

            <tbody>
                {% for Missions in Missions %}

                <tr>
                    <th scope="row">
                    {{ Missions.codemission }}
                    </th>
                    <td>{{ Missions.titre }}</td>
                    <td>{{ Missions.description }}</td>
                        <td>
                        
						
						<a href="{{ path('app_remove', {'id': Missions.id}) }}">Delete</a>
                        <a href="{{ path('app_details', {'id': Missions.id}) }}">show</a>
                        
</td>

			    </tr>
                
                {% endfor %}
            </tbody>
        </table>
    


{% endblock %}