{% extends 'base.html.twig' %}
{% block title %}Liste de Missions{% endblock %}

{% block body %}

<style>

    
</style>
<h1>Liste des Missions</h1>

        <table class="table">
        <thead>
        <tr>
        <th>Code</th>
        <th>Titre</th>
        <th>Description</th>
        <th>Actions</th>
        </tr>

            <tbody>
                {% for Missions in Missions %}

                <tr>
                    <th scope="row">
                    {{ Missions.codemission }}
                    </th>
                    <td>{{ Missions.titre }}</td>
                    <td>{{ Missions.description }}</td>
                        <td>
                    
						
                      <a href="{{ path('app_details', {'id': Missions.id}) }}">Voir</a>
                      {% if is_granted('ROLE_ADMIN') %}
                      <a href="{{ path('app_remove', {'id': Missions.id}) }}">Delete</a>
                       <a href="{{ path('app_missions_edit', {'id': Missions.id}) }}">Modifier</a>
                        {% endif %}



                    </td>

			     </tr>
                
                {% endfor %}
                
            </tbody>
        </table>
         {% if is_granted('ROLE_ADMIN') %}
    <p> <a href="{{ path('app_missions_new') }}">New</a></p>
 {% endif %}
{% endblock %}