{% extends 'base.html.twig' %}

{% block title %}Liste des planques{% endblock %}

{% block body %}

 
<div class="container">
<h1>Liste des planques</h1>
<h3>Nombres d'agents : ({{Planques.getTotalItemCount }})</h3>
 <table class="table table-bordered table-striped">
        <thead>
        <tr>
        <th>Code</th>
        <th>adresse</th>
        <th>Pays</th>
        <th>type</th>
       
        <th>Actions</th>

        </tr>
            <tbody>
                {% for Planques in Planques %}

                <tr>
                    <th scope="row justify-content-center">
                   {{ Planques.codeidentification }}
                    </th>
                    <td>{{ Planques.adresse }}</td>
                    <td>{{ Planques.pays.nom }}</td>
                    <td>{{ Planques.type.nom }}</td>
                   
                    

                    <td>
                    <a href="{{ path('app_planque_edit', {'id': Planques.id}) }}" class="btn btn-dark" role="button">Modifier</a>
                    <a href="{{ path('app_planque_remove', {'id': Planques.id}) }}" class="btn btn-danger" role="button">Supprimer</a>
                    </td>
			     </tr>
                {% endfor %}
            </tbody>
        </table>
         <div class="row justify-content-center">
        {{ knp_pagination_render(Planques) }}
        </div>
        </div>
        <div class="row justify-content-center">
       
         <a href="{{ path('app_planque_new') }}" class="btn btn-dark" role="button">Crée une nouvelle planque</a>
    </div>
    

{% endblock %}
 