{% extends 'base.html.twig' %}

{% block title %}Liste des specialitées{% endblock %}

{% block body %}

 
<div class="container">
<h1>Liste des specialitées</h1>
<h3>Nombres de specialitées : ({{Specialite.getTotalItemCount }})</h3>
 <table class="table table-bordered table-striped">
        <thead>
        <tr>
        <th>Nom</th>
        <th>Actions</th>

        </tr>
            <tbody>
                {% for Specialite in Specialite %}

                <tr>
                    <th scope="row justify-content-center">
                   {{ Specialite.nom}}
                    </th>
                    
                    <td>
                    <a href="{{ path('app_specialite_edit', {'id': Specialite.id}) }}" class="btn btn-secondary" role="button">Modifier</a>
 <a href="{{ path('app_specialite_remove', {'id': Specialite.id}) }}" class="btn btn-danger" role="button">Supprimer</a>
                    </td>
			     </tr>
                {% endfor %}
            </tbody>
        </table>
         </div>
         <div class="row justify-content-center">
        {{ knp_pagination_render(Specialite) }}
        </div>

         <div class="row justify-content-center">
         <a href="{{ path('app_specialite_new') }}" class="btn btn-secondary" role="button">Crée une nouvelle specialitées</a>
    </div>
  

{% endblock %}
 