{% extends 'base.html.twig' %}

{% block title %}Liste des type de planques{% endblock %}

{% block body %}
  

 <div class="container">
  <h1>Liste des type de planques</h1>
  <h3>Nombre de type de planques : ({{Typeplanque.getTotalItemCount }})</h3>
 <table class="table table-bordered table-striped">
        <thead>
        <tr>
        <th>nom</th>
        <th>Actions</th>
        </tr>
         </thead>

            <tbody>
                {% for Typeplanque in Typeplanque %}

                <tr>
                    <th scope="row justify-content-center">
                   {{ Typeplanque.nom }}
                    </th>
                    <td>
                    <a href="{{ path('app_typeplanque_edit', {'id': Typeplanque.id}) }}" class="btn btn-warning" role="button">Modifier</a>
                    <a href="{{ path('app_typeplanque_remove', {'id': Typeplanque.id}) }}" class="btn btn-danger" role="button">Supprimer</a>

     
                    </td>
			     </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row justify-content-center">
        {{ knp_pagination_render(Typeplanque) }}
        </div>
        </div>
         <div class="row justify-content-center">
         
         <a href="{{ path('app_typeplanque_new') }}" class="btn btn-success" role="button">Crée un nouveau type de planque</a>
    </div>
      
{% endblock %}