{% extends 'base.html.twig' %}

{% block title %}Liste des statuts de mission{% endblock %}

{% block body %}

 <div class="container">
 <h1>Liste des statuts de mission</h1>
 <h3>Nombres de statut de mission : ({{Statumission.getTotalItemCount }})</h3>
 <table class="table table-bordered table-striped">
        <thead>
        <tr>
        <th>Nom</th>
        <th>Actions</th>

        </tr>
            <tbody>
                {% for Statumission in Statumission %}

                <tr>
                    <th scope="row justify-content-center">
                   {{ Statumission.nom}}
                    </th>
                    
                    <td>
                    <a href="{{ path('app_statumission_edit', {'id': Statumission.id}) }}" class="btn btn-dark" role="button">Modifier</a>
                    <a href="{{ path('app_statumission_remove', {'id': Statumission.id}) }}" class="btn btn-danger" role="button">Supprimer</a>
                    </td>
			     </tr>
                {% endfor %}
              
            </tbody>
        </table>
        <div class="row justify-content-center">
        {{ knp_pagination_render(Statumission) }}
        </div>
           <div class="row justify-content-center">
        
         <a href="{{ path('app_statumission_new') }}" class="btn btn-dark" role="button">Ajout d'un nouveau statut de mission</a>
    </div>
        </div>




{% endblock %}
 
