{% extends 'base.html.twig' %}

{% block title %}Liste des pays{% endblock %}

{% block body %}


 <div class="container">
 <h1>Liste des pays</h1>
 <h3>Nombres de pays : ({{Pays.getTotalItemCount }})</h3>
 <table class="table table-bordered table-striped">
        <thead>
        <tr>
       
        <th>Pays</th>
        <th>Nationalite</th>
        <th>Actions</th>
        </tr>
            <tbody>
                {% for Pays in Pays %}

                <tr>
                    <th scope="row justify-content-center">
                   {{ Pays.nom }}
                    </th>
                 <td>
                    {{ Pays.nationalite.nom }}
					
                    </td>
                   <td>
                    <a href="{{ path('app_pays_edit', {'id': Pays.id}) }}" class="btn btn-dark" role="button">Modifier</a>
                    <a href="{{ path('app_pays_remove', {'id': Pays.id}) }}" class="btn btn-danger" role="button">Supprimer</a>
                    </td>
			     </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row justify-content-center">
        {{ knp_pagination_render(Pays) }}
        </div>
         </div>
          <div class="row justify-content-center">
       
         <a href="{{ path('app_pays_new') }}" class="btn btn-dark" role="button">Crée un nouveau pays</a>
    </div>
   

{% endblock %}
 
